font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

.navbar 
{
	opacity: 0.8;
	border-bottom: 1px solid #72dee2;
}

.nav-item:hover {
	color: rgb(255, 255, 255);
}
.jumbotron 
{
	padding-top: 100px;
}
.fa-ellipsis-v
{
	color: #fff;
}
.container.a
{
	color: #fff;
}

main
{
	font-family: 'Open Sans', sans-serif;
}
main img
{
	width: 100%;
	height: auto;	
}

main p i
{
	font-size: 0.8rem;
}

.card img 
{
	height: 30rem;
	width: auto;
}

.sakarya-jumbotron{
	background-image: url(https://iasbh.tmgrup.com.tr/e47236/752/395/0/84/600/398?u=https://isbh.tmgrup.com.tr/sbh/2022/11/24/sapanca-gezilecek-yerler-yazin-ve-kisin-sapancada-ne-yapilir-gezilecek-ve-fotograf-cekilecek-yerler-nereler-k1-1669294198796.jpg);
	background-size: cover;
	background-position: 60% 50%;
}

.vecihiorhan-jumbortan{
	background-image: url(https://www.tatilcity.net/wp-content/uploads/2019/07/vecihi-orhon-kapisi.jpg);
	background-size: cover;
	background-position: 10% 70%;
}

.acarlarlongozu-jumbortan{
	background-image: url(https://cdnuploads.aa.com.tr/uploads/Contents/2022/07/20/thumbs_b_c_a912a1323c232650b7bbf93987634662.jpg?v=235338);
	background-size: cover;
	background-position: 30% 50%;
}

.sapanca-jumbortan{
	background-image: url(https://i.cnnturk.com/i/cnnturk/75/740x416/60c2955517aca90e644bbffe.jpg);
	background-size: cover;
	background-position: 10% 70%;
}